.nav {
  position: relative;

  display: flex;
  align-items: center;
  gap: 2rem;

  padding: 1rem 2rem;

  background-color: white;
  z-index: 999;
}

.nav__logo {
  font-size: 2rem;
  letter-spacing: 1px;
}

.nav__links {
  list-style: none;
  display: flex;
  gap: 2rem;

  margin-right: auto;

  li,
  li > a {
    text-decoration: none;
    color: black;

    cursor: pointer;
  }
}

.nav__links > li:hover,
.nav__links > li > a:hover {
  text-decoration: underline;
}

.nav__actions {
  display: flex;
  align-items: center;
  gap: 2rem;

  span {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.nav__menu {
  display: none;
}

/* Dropdown */

.shop__dropdown {
  position: absolute;
  left: 0;
  bottom: -480px;

  width: 100%;

  padding: 1rem;

  background-color: white;
}

.dropdown__content {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
}

.dropdown__links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h2 {
    font-size: 1.125rem;
    font-weight: 600;
    opacity: 50%;

    margin-bottom: 0.5rem;
  }

  p {
    width: fit-content;
    cursor: pointer;
  }
}

.dropdown__links > p:hover {
  text-decoration: underline;
}

.dropdown__image {
  width: 400px;
  height: 450px;

  background: no-repeat url("../images/dropdown-image.jpg");
  background-size: cover;
}

/* MEDIA QUERIES */

@media (max-width: 690px) {
  .nav {
    padding: 0.5rem 1rem;
  }

  .nav__links {
    gap: 1rem;
  }
}

@media (max-width: 600px) {
  .nav {
    justify-content: space-between;
  }

  .nav__logo {
    order: 2;
  }

  .nav__links {
    display: none;
  }

  .nav__actions {
    order: 3;
  }

  .nav__menu {
    display: block;
    order: 1;
  }
}
