.nav {
  position: relative;

  display: flex;
  align-items: center;
  gap: 2rem;

  padding: 1rem 2rem;

  background-color: white;
  z-index: 999;
}

.nav__logo {
  font-size: 2rem;
  letter-spacing: 1px;
}

.nav__links {
  list-style: none;
  display: flex;
  gap: 2rem;

  margin-right: auto;

  li {
    text-decoration: none;
    color: black;

    cursor: pointer;
  }
}

.nav__links > li:hover {
  text-decoration: underline;
}

.nav__actions {
  display: flex;
  align-items: center;
  gap: 2rem;

  span {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    cursor: pointer;
  }
}

.nav__menu {
  display: none;
}

/* Dropdown */

.dropdown {
  display: none;

  position: absolute;
  left: 0;
  bottom: -480px;

  width: 100%;

  padding: 1rem;

  background-color: white;
}

.dropdown__shop,
.dropdown__bestsellers {
  display: none;
  justify-content: space-around;
  gap: 3rem;
}

.dropdown__arrivals {
  display: none;
  justify-content: space-around;
}

.dropdown__links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h2 {
    font-size: 1.125rem;
    font-weight: 600;
    opacity: 50%;

    margin-bottom: 0.5rem;
  }

  p {
    width: fit-content;
    cursor: pointer;
  }
}

.dropdown__links > p:hover {
  text-decoration: underline;
}

.dropdown__image {
  width: 400px;
  height: 450px;
}

.dropdown__image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr, 1fr;
  justify-content: center;
  align-items: center;
  gap: 0 2rem;

  img {
    width: 180px;
    height: 200px;

    cursor: pointer;

    transform: scale(1);
    transition: transform 0.3s;
  }

  img:hover {
    transform: scale(1.2);
  }
}

.dropdown__image.shop-image {
  background: no-repeat url("../images/dropdown-image.jpg");
  background-size: cover;
}

.dropdown__image.arrivals-image {
  background: no-repeat url("../images/arrivals-image.jpg");
  background-size: cover;
}

.dropdown__image.bestsellers-image {
  background: no-repeat url("../images/bestsellers-image.png");
  background-size: cover;
}

/* Search bar */

.nav__search {
  display: none;
  width: 100%;

  position: absolute;
  left: 0;
  bottom: -60px;

  padding: 1rem;

  background-color: white;
}

.nav__search__container {
  display: flex;
  align-items: center;
  gap: 1rem;

  input {
    flex: 2;
    padding: 0.5rem;

    border: 1px solid transparent;
  }

  span {
    cursor: pointer;
  }
}

/* MEDIA QUERIES */

@media (max-width: 690px) {
  .nav {
    padding: 0.5rem 1rem;
  }

  .nav__links {
    gap: 1rem;
  }
}

@media (max-width: 600px) {
  .nav {
    justify-content: space-between;
  }

  .nav__logo {
    order: 2;
  }

  .nav__links {
    display: none;
  }

  .nav__actions {
    order: 3;
  }

  .nav__menu {
    display: block;
    order: 1;
  }
}
